<?xml version="1.0"?>
<config>
    <modules>
        <Dotmailer_Smtp>
            <version>0.0.1</version>
        </Dotmailer_Smtp>
    </modules>
    <global>
        <helpers>
            <dotmailer_smtp>
                <class>Dotmailer_Smtp_Helper</class>
            </dotmailer_smtp>
        </helpers>
        <blocks>
            <dotmailer_smptp>
                <class>Dotmailer_Smtp_Block</class>
            </dotmailer_smptp>
        </blocks>
        <models>
            <dotmailer_smtp>
                <class>Dotmailer_Smtp_Model</class>
            </dotmailer_smtp>
            <core>
                <rewrite>
                    <email_template>Dotmailer_Smtp_Model_Email_Template</email_template>
                    <email>Dotmailer_Smtp_Model_Email</email>
                </rewrite>
            </core>
        </models>

    </global>

</config>